*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.55rem;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background: #a56cc1;
  border-radius: 5px;
}

a{
  text-decoration: none;
}

.navbarlink svg{
  max-width: 3em;
  min-width: 3em;
  max-height: 3em;
  min-height: 3em;
  fill: rgb(209, 209, 209);
}

.navbar{
  list-style: none;
  position: fixed;
  background-color: #a56cc1;
  display: flex;
  transition: width 100ms ease;
}

.linktext{
  float: right;
  display: none;
  font-size: 23px;
  color: rgb(209, 209, 209);
  
}

.navbarlink a{
  display: flex;
  align-items: center;
}

.navbarlink{
  width: 100%;
}
.navbarlink:hover{
  background-color: #835799;

}
.navbarlink:hover svg{
  fill: #ace7ef;
}

.navbarlink:hover .linktext{
  color: #ace7ef;
}

#Home, #About , #Projects , #Hobbies , #contact{
  height: 100vh;
  margin-left: 4.5em;
}



/* low screensize */
@media screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 4rem;
    flex-direction: row;
  }

  .navbarlink a{
    vertical-align: middle;
    justify-content: center;
  }
  .navbarlink svg{
    padding-top: 1em;
  }
}
/* big screen size */
@media screen and (min-width: 600px) {
  .navbar {
    width: 4.5em;
    height: 100vh;
    padding-top: 2em ;
    flex-direction: column;
  }

  .navbar:hover{
    width: 13em;
  }
  .navbar:hover .linktext{
    display: inline;
  }

  .navbarlink{
    padding: 4px 10px 4px 10px;
    margin-bottom: 2em;
  }

  .linktext{
    margin-left: 30px;
  }

  
}